EWELINK_ACCOUNT=your-ewelink-email@example.com
EWELINK_PASSWORD=your-ewelink-password
EWELINK_REGION=eu
EWELINK_AREA_CODE=+1
EWELINK_APP_ID=your-ewelink-app-id
EWELINK_APP_SECRET=your-ewelink-app-secret

MQTT_URL=mqtt://127.0.0.1:1883
MQTT_USER=
MQTT_PASS=

TOPIC_PREFIX=ewelink
PUBLISH_RAW_STATE=true
VERBOSE=false
MQTT_RETAIN=true
MQTT_QOS=1
EXIT_ON_WEBSOCKET_CLOSE=true
